body,
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #9b59b6;
}
.bubbels {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  opacity: 0.5;

  animation: flying 10s infinite;
}
.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}
.bubble:nth-child(2) {
  width: 40px;
  height: 40px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 30%;
  animation-duration: 10s;
  animation-delay: 2s;
}
.bubble:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 50%;
  animation-duration: 7s;
  animation-delay: 0s;
}
.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 50%;
  animation-duration: 10s;
  animation-delay: 3s;
}
.bubble:nth-child(6) {
  width: 40px;
  height: 40px;
  left: 60%;
  animation-duration: 7s;
  animation-delay: 3s;
}
.bubble:nth-child(7) {
  width: 80px;
  height: 80px;
  left: 75%;
  animation-duration: 4s;
  animation-delay: 1.2s;
}
.bubble:nth-child(8) {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-duration: 8s;
  animation-delay: 4s;
}
.bubble:nth-child(9) {
  width: 20px;
  height: 20px;
  left: 80%;
  animation-duration: 8s;
  animation-delay: 2s;
}
.bubble:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 100%;
  animation-duration: 8s;
  animation-delay: 1s;
}

@keyframes flying {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}
