<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>명석이의 CSS 기초연습</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/sementic.css" />
    <link rel="stylesheet" href="./css/display_position.css" />

    <link rel="stylesheet" href="./css/flex.css" />
    <link rel="stylesheet" href="./css/grid.css" />
    <link rel="stylesheet" href="./css/color.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,700;1,600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/6bdb89bed6.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="main.js"></script>
  </head>
  <body>
    <!--1. 시멘틱 웹이란------------------------------------------------- -->
    <!-- 헤더 -->
    <header>
      <nav class="navbar">
        <h1 class="navbar_logo">명석이의 CSS 기초연습</h1>
        <ul class="navbar__menu">
          <li class="semantic_view">시멘틱 웹</li>
          <li class="dis_view">display, position</li>
          <li class="grid_view">grid</li>
          <li class="flex_view">flex</li>
          <li class="color_view">color</li>
        </ul>
        <div class="navbar__icon">
          <li>
            <a href="https://github.com/smshack"
              ><i class="fab fa-github"></i
            ></a>
          </li>
        </div>
        <a href="#" class="navbar__toogleBtn"><i class="fas fa-bars"></i></a>
      </nav>
    </header>

    <main class="main1">
      <aside>
        <h1>aside</h1>
        <h4>광고를 넣어주세요</h4>
      </aside>
      <section>
        <article>
          <h3>시멘틱 웹</h3>
          문서의 정보를 보다 잘 표현하기 위해서는 의미에 맞는 태그를 잘 사용해야
          합니다. 특히 HTML5에서는 웹페이지에서 통상 많이 사용하는 구조에 의미를
          분명히 부여하기 위해서 의미론적 태그(semantic element)를 새롭게
          정의해서 제공하고 있습니다.
          <img src="./img/semantic/1.jpeg" alt="" />
        </article>

        <article>
          <h3>의미론적 웹</h3>
          <img src="./img/semantic/2.jpeg" alt="" />
          <table>
            <tr>
              <th>태그</th>
              <th>설명</th>
            </tr>
            <tr>
              <td>article</td>
              <td>본문</td>
            </tr>
            <tr>
              <td>aside</td>
              <td>광고와 같이 페이지의 내용과는 관계가 적은 내용</td>
            </tr>
            <tr>
              <td>details</td>
              <td>기본적으로 화면에 표시되지 않는 정보들을 정의</td>
            </tr>
            <tr>
              <td>figure</td>
              <td>삽화나 다이어그램과 같은 부가적인 요소를 정의</td>
            </tr>
            <tr>
              <td>footer</td>
              <td>
                화면의 하단에 위치하는 사이트나 문서의 전체적인 정보를 정의
              </td>
            </tr>
            <tr>
              <td>header</td>
              <td>
                화면의 상단에 위치하는 사이트나 문서의 전체적인 정보를 정의
              </td>
            </tr>
            <tr>
              <td>main</td>
              <td>문서에서 가장 중심이 되는 컨텐츠를 정의</td>
            </tr>
            <tr>
              <td>mark</td>
              <td>참조나 하이라이트 표시를 필요로 하는 문자를 정의</td>
            </tr>
            <tr>
              <td>nav</td>
              <td>문서의 네비게이션 항목을 정의</td>
            </tr>
            <tr>
              <td>section</td>
              <td>문서의 구획들을 정의</td>
            </tr>
            <tr>
              <td>time</td>
              <td>시간을 정의</td>
            </tr>
          </table>
        </article>
      </section>
      <aside>
        <h1>aside</h1>
        <h4>광고를 넣어주세요</h4>
      </aside>
    </main>
    <footer><h1>footer</h1></footer>
    <!--2. display ,position------------------------------------------------- -->
    <main class="main2">
      <div class="ch1">
        <h1>display</h1>
        <h1>block, inline</h1>

        <!-- block level -->
        <!-- 한줄 전체를 차지하는 -->
        <div>a</div>
        <div>b</div>
        <div>c</div>
        <!-- inline level -->
        <!-- 컨텐츠 자체만을 꾸며주는 -->
        <span>1</span>
        <span>2</span>
        <span>3</span>
      </div>
      <div class="ch2">
        <div>
          <h1>
            position
            <h3>stict /relative/ absolute / fixed/ sticky</h3>
          </h1>
        </div>
        <div class="box1">1</div>
        <div class="box2">
          2
          <div class="box3">3</div>
        </div>

        <div class="box4">4</div>
        <div class="box5">5</div>
      </div>
    </main>
    <!--3. grid 박스 연습------------------------------------------------- -->

    <main class="main3">
      <div class="item1">item1</div>
      <div class="item2">item2</div>
      <div class="item3">item3</div>
      <div class="item4">
        <h1>그리드 박스 연습</h1>
        item4
      </div>
      <div class="item5">item5</div>
      <div class="item6">item6</div>
      <div class="item7">item7</div>
      <div class="item8">item8</div>
      <div class="item9">item9</div>
    </main>
    <!--4. flex 박스 연습------------------------------------------------- -->
    <main class="main4">
      <div class="item item1"><h1>flex 박스 연습</h1></div>
      <div class="item item2">2</div>
      <div class="item item3">3</div>
      <div class="item item4">4</div>
      <div class="item item5">5</div>
      <div class="item item6">6</div>
      <div class="item item7">7</div>
      <div class="item item8">8</div>
      <div class="item item9">9</div>
      <div class="item item10">10</div>

      <div class="item item1">1</div>
      <div class="item item2">2</div>
      <div class="item item3">3</div>
      <div class="item item4">4</div>
      <div class="item item5">5</div>
      <div class="item item6">6</div>
      <div class="item item7">7</div>
      <div class="item item8">8</div>
      <div class="item item9">9</div>
      <div class="item item10">10</div>
    </main>
    <main class="main5">
      <div><h1>디자인하기 좋은 색상</h1></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </main>
  </body>
</html>
