.main5 {
  background-color: #f7fcfb;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;

  align-content: center;

  grid-gap: 1.5vh;
}

.main5 div {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.main5 div:nth-child(1) {
  background-color: #d1e9ca;
}
.main5 div:nth-child(2) {
  background-color: #789f6f;
}
.main5 div:nth-child(3) {
  background-color: #605759;
}
.main5 div:nth-child(4) {
  background-color: #e2cc6c;
}
.main5 div:nth-child(5) {
  background-color: #eae891;
}
.main5 div:nth-child(6) {
  background-color: #e9f7ab;
}
.main5 div:nth-child(7) {
  background-color: #bfeddb;
}
.main5 div:nth-child(8) {
  background-color: #67b09c;
}
.main5 div:nth-child(9) {
  background-color: #46879e;
}
.main5 div:nth-child(10) {
  background-color: #68c2ca;
}
.main5 div:nth-child(11) {
  background-color: #8ee6e5;
}
.main5 div:nth-child(12) {
  background-color: #c0f3eb;
}
.main5 div:nth-child(13) {
  background-color: #fcebe4;
}
.main5 div:nth-child(14) {
  background-color: #fcaf82;
}
.main5 div:nth-child(15) {
  background-color: #d4473b;
}
.main5 div:nth-child(16) {
  background-color: #5d9783;
}
.main5 div:nth-child(17) {
  background-color: #c8e1d5;
}
.main5 div:nth-child(18) {
  background-color: #e4e9ee;
}
.main5 div:nth-child(19) {
  background-color: #efd3cd;
}
.main5 div:nth-child(20) {
  background-color: #6a7b67;
}
.main5 div:nth-child(21) {
  background-color: #7e998d;
}
.main5 div:nth-child(22) {
  background-color: #acc4c0;
}
.main5 div:nth-child(23) {
  background-color: #c8dbcd;
}
.main5 div:nth-child(24) {
  background-color: #e8f1d4;
}
.main5 div:nth-child(25) {
  background-color: #c7e0dd;
}
.main5 div:nth-child(26) {
  background-color: #76b0ac;
}
.main5 div:nth-child(27) {
  background-color: #6c8ba7;
}
.main5 div:nth-child(28) {
  background-color: #cbb6b4;
}
.main5 div:nth-child(29) {
  background-color: #e5d4d0;
}
.main5 div:nth-child(30) {
  background-color: #eae8e6;
}
.main5 div:nth-child(31) {
  background-color: #f7edda;
}
.main5 div:nth-child(32) {
  background-color: #9cb4d4;
}
.main5 div:nth-child(33) {
  background-color: #4f7670;
}
.main5 div:nth-child(34) {
  background-color: #659f7c;
}
.main5 div:nth-child(35) {
  background-color: #92bea9;
}
.main5 div:nth-child(36) {
  background-color: #c5deda;
}
