:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  --color-header: #333;

  /* size */
  --base-space: 10px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;
  --size-nav-li: 15vw;

  /* font -weight */
  --base-weight: 500;
  /* annimation */
  --annimation-duration: 300ms;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-weight: var(--base-weight);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
  height: 100vh;
  background-color: var(--color-light-grey);
}
header {
  height: 20vh;
  background-color: var(--color-header);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--color-white);
  font-weight: 1000;
}
nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
}
nav li {
  padding: var(--base-space);
  width: var(--size-nav-li);
  text-align: center;
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
  font-weight: calc(var(--base-weight) * 2);
  color: var(--color-white);
}
nav li:hover {
  transform: scale(1.1);
}

main {
  padding: 2vh 5vw 2vh 5vw;

  text-decoration: none;
}
main li {
  padding: var(--base-space);
  text-decoration: none;
}
